<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="se.tube42.p9.android"
      android:versionCode="2"
      android:versionName="0.0.2">
      
      <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="24" />
      
      <!-- Tell the system this app requires OpenGL ES 2.0. -->
      <uses-feature android:glEsVersion="0x00020000" android:required="true" />      
      
      <application 
        android:icon="@drawable/ic_launcher"        
        android:label="9P" >
        
        <activity 
          android:name="MainActivity" 
          android:label="9P" 
          android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          </activity>                    
        </application>
        
        <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
